@import "src/styles/sass/mixins";
@import "src/styles/sass/variables.scss";

.select {
  margin: 10px;
  padding: 5px;
  background-color: $authBlockColor;
  width: 50px;
  @include text(14px, 400, $authTextColor, 14px);

  select:focus {
    background-color: #FF6B00;;
  }

  //.option {
  //  background-color: #f7f8f9;
  //}
}
