@import "./src/styles/sass/variables";
@import "./src/styles/sass/mixins";

.pack {
  margin-top: 20px;
  background-color: #ECECF9;
  @include tableBlock();

  .p_sort {
    @include text(16px, 500, $authTextColor, 1.2);

    &:hover {
      cursor: pointer;
    }

    .arrow {
      font-size: 14px;
      color: $authTextColor;
    }

  }

}