@import 'src/styles/sass/variables';
@import 'src/styles/sass/mixins';


.pageNumber {
  display: flex;
  justify-content: center;


  .selectedPage {
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 5px;
    font-weight: bolder;
    color: $authTextColor;
  }

  .notselectpage {
    padding: 5px;
  }
}