@import "./src/styles/sass/mixins";

.box {
  @include box();

  h3 {
    @include text(30px, 500, $authTextColor, 1.5);
  }

  .input_block {
    margin: 30px;
    width: 75%;

    .input {
      margin: 10px;
    }
  }

  .button_block {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .button_cancele_save_block {
      display: flex;
      margin: 15px;
    }

    .signOut_button {
      margin: 10px;
    }
  }

}